.inputName {
  font-size: 22px;
  font-weight: 500;
  display: inline-block;
  margin: 0;
}

.input {
  padding: 14px;
  margin-left: 5px;
  background: transparent;
  border-radius: 10px;
  border-color: #605a85;
  cursor: pointer;
}
